.App {
  display: flex;
  justify-content: center;

  > .appHeader {
    width: 90%;
    height: 90%;

    > p > div > .question {
      color: #fff;
      font-size: 32px; /* Adjust the font size as needed */
      font-family: 'Lato', sans-serif;
      margin-bottom: 30px;
      user-select: none;
      justify-content: center;
    }
  }
}