.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > .difficultyGroup {
    > label {
      color: white;
      font-family: "Lato", sans-serif;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 93%;

    > .questionCount {
      color: white;
      font-family: "Lato", sans-serif;
      font-size: 32px;
      margin: 0 auto;
    }
  }

  > header > .header {
    align-items: center;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 32px;
    justify-content: center;
    margin-bottom: 14px;
    text-align: center;
    user-select: none;
  }

  > .userSelection {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > .difficultyGroup {
      > label {
        color: white;
        font-family: "Lato", sans-serif;
      }
    }

    > .inputLabel {
      align-items: center;
      color: white;
      display: flex;
      flex-direction: column;
      font-family: "Lato", sans-serif;
      font-size: 18px;
      margin-bottom: 14px;
      margin-top: 10px;

      > .inputField {
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 18px;
        margin: 5px 0;
        padding: 10px;
        width: 50%;

        &:invalid {
          outline: 3px solid red;
        }
      }
    }

    > button {
      background-color: #808080;
      border: 2px solid #808080;
      border-radius: 5px;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s ease;
      width: 24%;

      &:active {
        background-color: #4d4d4d;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      &:hover {
        background-color: #666666;
      }
    }
  }
}
